In [7]:
import numpy as np
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
source='entd'

In [2]:
gdf_homes=gpd.read_file('D:/'+source+'/homes.gpkg')

gdf_idf_communes=gpd.read_file('data\communes\communes-dile-de-france-au-01-janvier.shp').to_crs(gdf_homes.crs)
gdf_idf_communes['insee']=gdf_idf_communes.insee.astype('int')
gdf_idf_communes['numdep']=gdf_idf_communes.numdep.astype('int')
gdf_idf_communes=gdf_idf_communes[['numdep','insee','geometry']]
# gdf_idf_communes

      numdep  insee                                           geometry
0         77  77472  POLYGON ((719300.000 6862265.000, 719025.000 6...
1         91  91315  POLYGON ((652141.000 6821256.000, 652003.000 6...
2         78  78472  POLYGON ((614174.000 6818160.000, 613852.000 6...
3         77  77038  POLYGON ((670513.000 6824029.000, 670617.000 6...
4         78  78672  POLYGON ((627350.000 6869424.000, 626591.000 6...
...      ...    ...                                                ...
1282      78  78522  POLYGON ((623157.000 6831138.000, 622832.000 6...
1283      77  77388  POLYGON ((713444.000 6871672.000, 712473.000 6...
1284      75  75113  POLYGON ((651823.000 6857499.000, 651706.000 6...
1285      75  75118  POLYGON ((650654.000 6865040.000, 650881.000 6...
1286      75  75111  POLYGON ((655904.000 6861063.000, 653700.000 6...

[1287 rows x 3 columns]

In [3]:
df_persons=pd.read_csv('D:/'+source+'/persons.csv',';')

C:\Users\saadi\Anaconda3\envs\coworking\lib\site-packages\IPython\core\interactiveshell.py:3251: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_homes_gpkg=gpd.sjoin(gdf_homes, gdf_idf_communes, how="left", op='intersects').drop('index_right', axis=1)

In [5]:
df_persons=df_persons.merge(df_homes_gpkg, on='household_id').drop('geometry', axis=1)

In [6]:
df_persons.to_csv('data/all/'+source+'/persons.csv', sep=';')

In [12]:
gdf_activities=gpd.read_file('D:/'+source+'/activities.gpkg', rows=10000)
gdf_activities.head()

,person_id,household_id,activity_index,preceding_trip_index,following_trip_index,purpose,start_time,end_time,is_first,is_last,geometry
0,1,1,0,-1,0,home,NaN,49289.0,True,False,POINT (654920.460 6862238.720)
1,1,1,1,0,1,leisure,52889.0,61889.0,False,False,POINT (648884.300 6864712.600)
2,1,1,2,1,-1,home,66389.0,NaN,False,True,POINT (654920.460 6862238.720)
3,2,1,0,-1,0,home,NaN,40040.0,True,False,POINT (654920.460 6862238.720)
4,2,1,1,0,1,leisure,41240.0,63440.0,False,False,POINT (654786.800 6863212.960)

In [13]:
gdf_activities['uid']=gdf_activities.geometry.astype('str').astype('category').cat.codes

In [14]:
pd.DataFrame(gdf_activities.drop(columns='geometry')).to_csv('data/all/'+source+'/activities.csv')

In [ ]:
# OK